body {
  margin: 2%;
  background-color: beige;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(auto, auto);
  margin: 5%;
}

.item {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 50%;
  max-height: 50%;
  padding-bottom: 2%;
}
button {
  background-color: #f4b9b2;
  border: 2px solid #de6b48;
  width: 200px;
  color: #de6b48;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 6px;
  border-radius: 60px;
}
h1 {
  text-align: center;
  color: #de6b48;
}

h4 {
  text-align: right;
  color: #de6b48;
}
